
/* Estilos para a classe de borda e anel de seleção */
.border-green-300.ring-green-400 { --tw-border-opacity: 1; border-color: rgb(110 231 183 / var(--tw-border-opacity)); --tw-ring-color: rgb(52 211 153 / var(--tw-ring-opacity)); }
.border-blue-300.ring-blue-400 { --tw-border-opacity: 1; border-color: rgb(147 197 253 / var(--tw-border-opacity)); --tw-ring-color: rgb(96 165 250 / var(--tw-ring-opacity)); }
.border-yellow-300.ring-yellow-400 { --tw-border-opacity: 1; border-color: rgb(252 211 77 / var(--tw-border-opacity)); --tw-ring-color: rgb(251 191 36 / var(--tw-ring-opacity)); }


